.content{
    width: 100%;
    height: 50vh;
    background-image: url('https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-tittle{
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
    color: #FF9F29;
}
@media (max-width:768px) {
    .content-tittle{
        font-size: 40px;  
    }
}
.content-subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 15px;
    color: #FF9F29;
}
@media (max-width:768px) {
    .content-subtitle{
        font-size: 20px;  
    }
}